<div class="tretinha">
  <div class="display-timer">
    <span id="regress-timer">25:00</span>
  </div>
</div>

<div class="actions">

  <button id="refresh" (click)="refresh()">
    <i class="fas fa-redo-alt"></i>
  </button>

  <button id="play" class="show" (click)="start()">
    <i class="fas fa-play"></i>
  </button>

  <button id="pause" class="hide" (click)="pause()">
    <i class="fas fa-pause"></i>
  </button>

  <button id="stop" (click)="stop()">
    <i class="fas fa-stop"></i>
  </button>

</div>

<app-modal></app-modal>
