<div id="modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <article class="message is-link">
            <div class="message-header">
                <p>Temporizador Pomodoro</p>
                <button (click)="invisible()" class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                A Técnica Pomodoro é um método de gerenciamento de tempo desenvolvido por Francesco Cirillo no final dos
                anos 1980. A técnica consiste na utilização de um cronômetro para dividir o trabalho em períodos de 25
                minutos, separados por breves intervalos. <a href="https://pt.wikipedia.org/wiki/T%C3%A9cnica_pomodoro" target="_blank"><strong>Leia mais...</strong></a>
                
                <br />
                <br />
                
                <p class="link has-text-centered">Desenvolvido por <a href="https://www.linkedin.com/in/ademar-cardoso-940820162/" target="_blank" ><strong>@Ademar</strong></a></p>
            </div>
        </article>
    </div>
</div>

<div class="footerado has-text-centered">
    <button (click)="visible()" class="btn-info"><i class="fas fa-question"></i></button>
</div>
