.footerado  {
    margin-top: 45%;
    cursor: pointer;
}

.btn-info {
    cursor: pointer;
    border: none;
    background-color: #FF5258;
    font-size: 25pt;
}

.message.is-link .message-header {
    background-color: #FF5258;
}

